<div class="ui vertical segment">
    <div class="ui container">
        <h1 class="ui header">Assinaturas</h1>
        <p><a href="/">&larr; Voltar</a></p>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui container">    
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>Valor</th>
                    <th>Parcela</th>
                    <th>Meio Pgto</th>
                    <th class="center aligned">Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each subscriptions}}
                <tr>
                    <td>{{plan.name}}</td>
                    <td>{{status}}</td>
                    <td>{{amount}}</td>
                    <td>{{installment}}</td>
                    <td>{{payment_method}}</td>
                    <td class="center aligned">
                        <a href="#" class="ui mini orange button">Antecipar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

