<div class="ui vertical segment">
    <div class="ui grid container ">
        <div class="six wide column">
            <h1 class="ui header">Efetuando Estornos</h1>
            <p><a href="/">&larr; Voltar</a></p>
        </div>
        <div class="ten wide column">
        </div>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui container">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Valor</th>
                    <th>Estornado</th>
                    <th>Método Pgto</th>
                    
                    <th class="center aligned">Estorno</th>
                </tr>
            </thead>
            <tbody>
                {{#each transactions}}
                <tr>
                    <td>{{tid}}</td>
                    <td>{{status}}</td>
                    <td>{{amount}}</td>
                    <td>{{refunded_amount}}</td>
                    <td>{{payment_method}}</td>
                    
                    <td class="center aligned">
                        <a href="#" id="total-{{tid}}" class="ui mini orange total button">Total</a>
                        <a href="#" id="parcial-{{tid}}" class="ui mini orange parcial button">Parcial</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui container">
        <pre><code id="resultado"></code></pre>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.total.button').on('click', function () {
            var self = this;
            $(self).addClass('loading')
            console.log($(self).parent().parent().children()[2])
            $.post(window.location.href, {
                amount: 1 * $($(self).parent().parent().children()[2]).text(),
                id: $(self).attr('id').replace('total-', '') 
            }, function(data) {
                $(self).removeClass('loading')
                console.log(data)
                $('#resultado').text(JSON.stringify(data));
            });
        });

        $('.parcial.button').on('click', function () {
            var self = this;
            $(self).addClass('loading')
            $.post(window.location.href, {
                amount: 0.5 * $($(self).parent().parent().children()[2]).text(),
                id: $(self).attr('id').replace('parcial-', '') 
            }, function(data) {
                $(self).removeClass('loading')
                console.log(data)
                $('#resultado').text(JSON.stringify(data));
            });
        });

    });
</script>